<div class="p-5 text-center bg-body-tertiary rounded-3 d-flex justify-content-center flex-wrap home">
    <h1 class="w-100">Мои бонусы</h1>
    <nav>
        <div class="nav nav-tabs mb-3 text-center tabs-custom d-flex justify-content-center" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Мои бонусы</button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false" tabindex="-1">Мой профиль</button>
        </div>
    </nav>
</div>