<div class="d-flex flex-column align-items-center justify-content-center text-center" style="height: 75vh">
    <h1 class="display-1">404</h1>
    <p class="lead" style="font-size: 2rem; font-Weight: bold">Страница не найдена 😕</p>
    <p style="font-size: 1.2rem">К сожалению, страница, которую вы ищете, не существует или была перемещена.</p>
    <a href="/" class="btn btn-danger btn-lg">На главную страницу</a>
</div>