<div class="d-flex align-items-center">
    <form class="form-signin w-100 m-auto login needs-validation" novalidate action="/register" method="post">
        <div class=" text-center">
            <img class="mb-4 " src="/img/logo.jpg" alt="" width="72" height="57">
        </div>
        <h1 class="h3 mb-3 fw-normal  text-center" >Бонусы за каждую покупку</h1>

        <div class="mt-2">
            <label for="email" class="form-label">Почта</label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend2">📭</span>
                <input type="email" class="form-control" name="email"
                       id="email"  aria-describedby="inputGroupPrepend2" required="">
                <div class="invalid-feedback">Пожалуйста, введите почту.</div>
                <div class="valid-feedback"></div>
            </div>
        </div>
        <div class="mt-2">
            <label for="password" class="form-label">Пароль</label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend3">🔒</span>
                <input type="password" class="form-control" id="password" name="password"
                       placeholder="" aria-describedby="inputGroupPrepend3" required="">
                <div class="invalid-feedback">Пожалуйста, введите пароль.</div>
                <div class="valid-feedback"></div>
            </div>
        </div>
        <div class="mt-2">
            <label for="type" class="form-label">Тип аккаунта</label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend3">👽</span>
                <select class="form-select" id="type" required="" name="type">
                    <option selected="" disabled="" value="">Тип аккаунта</option>
                    <option>Продавец</option>
                    <option>Покупатель</option>
                </select>
                <div class="invalid-feedback">Пожалуйста, выберите допустимый тип.</div>
                <div class="valid-feedback"></div>
            </div>
        </div>

        <button class="btn btn-primary w-100 py-2 mt-4 red-button" type="submit">Зарегистрироваться</button>
        <a href="/login" class="btn btn-outline-secondary w-100 py-2 mt-2" type="submit">Войти</a>
    </form>
</div>
