.form-signin {
    max-width: 300px;
}

.login .form-floating.email input {
    border-radius: 0.375rem 0.375rem 0 0;
}

.login .form-floating.password input {
 border-radius: 0 0 0.375rem 0.375rem ;
    margin-top: -2px;
}
