@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

[data-bs-theme=light] {
    --bs-tertiary-bg-rgb: 239 239 239;
    --bs-btn-bg: #d13b39;
}
.red-button {
    background-color: #d13b39 !important;
    border: 0 !important;
}
.red-button:hover {
    background-color: #b0302f !important;
}



.form-signin {
    max-width: 300px;
}

.login .form-floating.email input {
    border-radius: 0.375rem 0.375rem 0 0;
}

.login .form-floating.password input {
    border-radius: 0 0 0.375rem 0.375rem ;
    margin-top: -2px;
}


.sale form {
    max-width: 360px;
}


.home .tabs-custom {
    max-width: 360px;
}

.sale .tabs-custom {
    max-width: 450px;
}

.sale .nav-link,
.home .nav-link {
    color: #b0302f;
}
.sale .nav-link,
.home .nav-link:hover {
    color: #ea4441;
}