<header class="p-3 mb-3 border-bottom">
    <div class="container-fluid d-grid gap-3 align-items-center justify-content-around" style="grid-template-columns: 1fr 1fr;">
        <div class="d-flex align-items-center">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                    <img src="/img/logo_original.png" width="60" alt=""/>
                </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 link-secondary">Главная</a></li>
                </ul>
        </div>
        <div class="d-flex align-items-center flex-md-row-reverse">
            {{#if email}}
                <a href="/" class="btn btn-outline-secondary" style="margin-right: 10px">
                    Выход
                </a>
                <p style="margin: 0 10px 0 0">{{email}}</p>
            {{else}}
                <a href="/login" class="btn btn-primary red-button">Войти</a>
            {{/if}}
        </div>

    </div>
    <script>
    </script>
</header>